@model ChessTask.Views.Home.DrawModel

<!DOCTYPE html>
<html lang="EN">
<head>
    <title>Chess Board</title>
    <meta charset="UTF-8">
    <style>
        .button {
            /*background-color: #ff9494;*/
           /* border: 0.7px solid;*/
            width: 10em;
            height: 5em;
            text-align: center;
            vertical-align: middle;
        }
        .box {
            text-align: center;
            background-color: #FFE4E1;
        }

        .centered {
            display: inline-block;
            margin: 0;
        }

        .chess-board {
            border-spacing: 0;
            border-collapse: collapse;
        }

            .chess-board th {
                padding: .5em;
            }

            .chess-board td {
                border: 0.7px solid;
                width: 5em;
                height: 5em;
                text-align: center;
                vertical-align: middle;
            }

            .chess-board .white {
                background: #FFFFFF;
            }

            .chess-board .black {
                background: #808080;
            }
            .chess-board .red {
                background: #B22222;
            }
    </style>
</head>
<body>
   

    <div class="box">
        <div@* class="button"*@>
            <form method="post">
            
               @* <a href="~/Home/Start">"Start/Restart"</a>*@
                <input type="submit" value="Start/Restart" />

           </form>
        </div>
        <div class="centered">

            <table class="chess-board">
                <tbody>
                    <tr>
                        <th></th>
                        <th>a</th>
                        <th>b</th>
                        <th>c</th>
                        <th>d</th>
                        <th>e</th>
                        <th>f</th>
                        <th>g</th>
                        <th>h</th>
                    </tr>
                    @for (int i = 8; i> 0; i--)
                    {
                        <tr>
                            <th>@i</th>
                            @for (int j=1; j<= 8; j++)
                            {
                                @if(ViewBag.coord_x == 8-i && ViewBag.coord_y == j-1)
                                {
                                    @*<img src="~chess_horse.png" alt="Sample Photo" width="5em" height="5em" />*@
                                    <td class="red"></td>
                                }
                                else if(((i + j) / 2) *2 == i + j)
                                {
                                    <td class="black"></td>
                                }
                                else
                                {
                                    <td class="white"></td>
                                }
                                
                            }
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>

</body>
</html>