<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Start Page</title>
    <style>
        .box {
            text-align: center;
            background-color: #FFE4E1;
        }

        .centered {
            display: inline-block;
            margin: 0;
        }

        .chess-board {
            border-spacing: 0;
            border-collapse: collapse;
        }

            .chess-board th {
                padding: .5em;
            }

            .chess-board td {
                border: 0.7px solid;
                width: 5em;
                height: 5em;
                text-align: center;
                vertical-align: middle;
            }

            .chess-board .white {
                background: #FFFFFF;
            }

            .chess-board .black {
                background: #808080;
            }

            .chess-board .red {
                background: #B22222;
            }
    </style>
</head>
<body>


    <div class="box">
        <div class="centered" id="elem">
            <form method="post">

                <input type="submit" value="Start/Restart" />

            </form>
        </div>
    </div>

<script>
    let elem = document.querySelector('#elem');

        createTable(elem, @ViewBag.coord_x, @ViewBag.coord_y);

    function createTable(parent, x, y){

            //tbl.setAttribute('class', 'chess-board');
            let tbl = document.createElement('table');
            let tbd = document.createElement('tbody');

            let tr = document.createElement('tr'); //рисуем первую строку
            let lts = ["", "A", "B", "C", "D", "E", "F", "G", "H"];
            for (let i = 0; i < 9; i++) {
                let th = document.createElement('th');
                th.textContent = lts[i];
                tr.appendChild(th);
            } //конец первой строки
            tbd.appendChild(tr);


            for(let i=8; i>0; i--) {

                let tr = document.createElement('tr');
                let th_vert = document.createElement('th');
                th_vert.textContent = i;
                tr.appendChild(th_vert);

                for (let j=1; j<9; j++) {
                    let td = document.createElement('td'); 
                    if (x == 8 - i && y == j - 1) {
                        td.setAttribute('class', 'red');//td.textContent="2";//
                    }
                    else if ((i + j)%2==0) {
                        td.setAttribute('class', 'black');//td.textContent="1";//
                    }
                    else {
                        td.setAttribute('class', 'white');//td.textContent = "0";//
                    }
                    tr.appendChild(td);
                }
                tbd.appendChild(tr);
            }
        tbl.appendChild(tbd);
        tbl.setAttribute('class', 'chess-board');
        parent.appendChild(tbl);
    }
</script>

</body>
</html>
